{
  "openapi": "3.0.0",
  "info": {
    "title": "ToDoToDoToDo API",
    "description": "할일 관리 애플리케이션 REST API - 사용자별 할일 추가, 조회, 수정, 삭제, 완료 처리, 복구, 우선순위 변경 기능 제공",
    "version": "1.0.0",
    "contact": {
      "name": "ToDoToDoToDo Team"
    }
  },
  "servers": [
    {
      "url": "https://api.todotodotodo.com",
      "description": "프로덕션 서버"
    },
    {
      "url": "http://localhost:3000",
      "description": "로컬 개발 서버"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT 토큰 기반 인증 (24시간 유효)"
      }
    },
    "schemas": {
      "SignUpRequest": {
        "type": "object",
        "required": ["email", "password", "name"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "사용자 이메일 (RFC 5322 형식, 중복 불가)",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "minLength": 8,
            "pattern": "^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*()_+\\-=\\[\\]{};':\"\\\\|,.<>\\/?]).*$",
            "description": "비밀번호 (8자 이상, 영문/숫자/특수문자 조합 필수)",
            "example": "Password123!"
          },
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 50,
            "description": "사용자 이름 (2-50자)",
            "example": "홍길동"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "사용자 이메일",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "description": "비밀번호",
            "example": "Password123!"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "JWT 액세스 토큰 (24시간 유효)",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "user": {
            "type": "object",
            "properties": {
              "userId": {
                "type": "string",
                "format": "uuid",
                "description": "사용자 고유 ID",
                "example": "550e8400-e29b-41d4-a716-446655440000"
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "사용자 이메일",
                "example": "user@example.com"
              },
              "name": {
                "type": "string",
                "description": "사용자 이름",
                "example": "홍길동"
              }
            }
          }
        }
      },
      "TodoRequest": {
        "type": "object",
        "required": ["title", "startDate", "endDate"],
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "할일 제목 (1-500자)",
            "example": "프로젝트 설계 완료하기"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "할일 시작일 (YYYY-MM-DD, 종료일 이전이거나 같아야 함)",
            "example": "2025-11-26"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "할일 종료일 (YYYY-MM-DD, 시작일 이후이거나 같아야 함)",
            "example": "2025-11-27"
          }
        },
        "description": "할일 생성 요청 (시작일은 종료일 이전이거나 같아야 함)"
      },
      "UpdateTodoRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "할일 제목 (선택사항, 1-500자)",
            "example": "프로젝트 설계 수정"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "할일 시작일 (선택사항, YYYY-MM-DD, 종료일 이전이거나 같아야 함)",
            "example": "2025-11-26"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "할일 종료일 (선택사항, YYYY-MM-DD, 시작일 이후이거나 같아야 함)",
            "example": "2025-11-28"
          }
        },
        "description": "할일 수정 요청 (시작일은 종료일 이전이거나 같아야 함)"
      },
      "PriorityRequest": {
        "type": "object",
        "required": ["priority"],
        "properties": {
          "priority": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999,
            "description": "우선순위 (1-999999, 작을수록 상위)",
            "example": 1
          }
        }
      },
      "TodoResponse": {
        "type": "object",
        "properties": {
          "todoId": {
            "type": "string",
            "format": "uuid",
            "description": "할일 고유 ID",
            "example": "660e8400-e29b-41d4-a716-446655440000"
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "description": "소유자 사용자 ID",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "title": {
            "type": "string",
            "description": "할일 제목 (1-500자)",
            "example": "프로젝트 설계 완료하기"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "description": "할일 시작일 (YYYY-MM-DD)",
            "example": "2025-11-26"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "description": "할일 종료일 (YYYY-MM-DD)",
            "example": "2025-11-27"
          },
          "priority": {
            "type": "integer",
            "minimum": 1,
            "maximum": 999999,
            "description": "우선순위 (1-999999, 작을수록 상위)",
            "example": 1,
            "default": 999999
          },
          "isCompleted": {
            "type": "boolean",
            "description": "완료 여부",
            "example": false,
            "default": false
          },
          "isDeleted": {
            "type": "boolean",
            "description": "삭제 여부 (휴지통)",
            "example": false,
            "default": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "생성 시각 (ISO 8601)",
            "example": "2025-11-26T10:15:00Z",
            "default": "CURRENT_TIMESTAMP"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "마지막 수정 시각 (ISO 8601)",
            "example": "2025-11-26T10:15:00Z",
            "default": "CURRENT_TIMESTAMP"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "삭제 시각 (isDeleted가 true일 때만, ISO 8601)",
            "example": null
          }
        }
      },
      "TodoListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TodoResponse"
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "에러 코드",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "description": "에러 메시지",
            "example": "유효하지 않은 입력입니다"
          },
          "details": {
            "type": "object",
            "description": "에러 상세 정보 (선택사항)",
            "example": {
              "field": "startDate",
              "reason": "시작일은 종료일 이전이거나 같아야 합니다"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "성공 메시지",
            "example": "할일이 성공적으로 삭제되었습니다"
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/signup": {
      "post": {
        "tags": ["인증"],
        "summary": "회원가입",
        "description": "새로운 사용자 계정을 생성합니다",
        "operationId": "signUp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "회원가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (유효하지 않은 이메일, 비밀번호 규칙 위반, 중복 이메일 등)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "VALIDATION_ERROR",
                  "message": "이미 사용 중인 이메일입니다",
                  "details": {
                    "field": "email"
                  }
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["인증"],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인하여 JWT 토큰을 받습니다",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (잘못된 이메일 또는 비밀번호)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "UNAUTHORIZED",
                  "message": "이메일 또는 비밀번호가 올바르지 않습니다"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/todos": {
      "get": {
        "tags": ["할일 관리"],
        "summary": "할일 목록 조회",
        "description": "사용자의 할일 목록을 조회합니다 (상태별 필터링 가능)",
        "operationId": "getTodos",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "할일 상태 필터 (active: 진행중, completed: 완료, trash: 휴지통)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "completed", "trash"],
              "default": "active"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "할일 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoListResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 (토큰 없음 또는 만료)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["할일 관리"],
        "summary": "할일 추가",
        "description": "새로운 할일을 생성합니다",
        "operationId": "createTodo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TodoRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "할일 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (날짜 검증 실패: 시작일 > 종료일)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "VALIDATION_ERROR",
                  "message": "시작일은 종료일 이전이거나 같아야 합니다",
                  "details": {
                    "startDate": "2025-11-30",
                    "endDate": "2025-11-26"
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todoId}": {
      "get": {
        "tags": ["할일 관리"],
        "summary": "할일 상세 조회",
        "description": "특정 할일의 상세 정보를 조회합니다",
        "operationId": "getTodoById",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "할일 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음 (존재하지 않거나 권한 없음)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "NOT_FOUND",
                  "message": "할일을 찾을 수 없습니다"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["할일 관리"],
        "summary": "할일 수정",
        "description": "기존 할일의 내용을 수정합니다",
        "operationId": "updateTodo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTodoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "할일 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (날짜 검증 실패)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["할일 관리"],
        "summary": "할일 삭제 (소프트 삭제)",
        "description": "할일을 휴지통으로 이동합니다 (복구 가능)",
        "operationId": "deleteTodo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "할일 삭제 성공 (휴지통으로 이동)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "할일이 휴지통으로 이동되었습니다"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todoId}/complete": {
      "patch": {
        "tags": ["할일 관리"],
        "summary": "할일 완료 처리",
        "description": "할일을 완료 상태로 변경합니다 (완료 목록으로 자동 이동)",
        "operationId": "completeTodo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "할일 완료 처리 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todoId}/restore": {
      "patch": {
        "tags": ["할일 관리"],
        "summary": "할일 복구",
        "description": "휴지통의 할일을 활성 상태로 복원합니다",
        "operationId": "restoreTodo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "할일 복구 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음 (휴지통에 없음)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "NOT_FOUND",
                  "message": "휴지통에서 할일을 찾을 수 없습니다"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todoId}/permanent": {
      "delete": {
        "tags": ["할일 관리"],
        "summary": "할일 영구삭제",
        "description": "휴지통의 할일을 완전히 삭제합니다 (복구 불가)",
        "operationId": "permanentDeleteTodo",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "할일 영구삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "할일이 영구적으로 삭제되었습니다"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (휴지통에 없는 할일은 영구삭제 불가)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "BAD_REQUEST",
                  "message": "휴지통에 있는 할일만 영구삭제할 수 있습니다"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/todos/{todoId}/priority": {
      "patch": {
        "tags": ["할일 관리"],
        "summary": "우선순위 변경",
        "description": "할일의 표시 순서를 변경합니다 (드래그 앤 드롭 지원)",
        "operationId": "updateTodoPriority",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "todoId",
            "in": "path",
            "description": "할일 고유 ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PriorityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "우선순위 변경 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TodoResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (우선순위 범위 초과)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "VALIDATION_ERROR",
                  "message": "우선순위는 1-999999 범위여야 합니다"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "할일을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "인증",
      "description": "사용자 인증 관련 API (회원가입, 로그인)"
    },
    {
      "name": "할일 관리",
      "description": "할일 CRUD 및 상태 관리 API"
    }
  ]
}
